
#omkHeader  {
    height: 55px;
    position: relative;
    font-size: 14px;
    background-color: #7EBC6F;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #FFF;
}

#id-container {
    height: calc(100% - 55px);
}
#omkHeader .branding, #omkHeader .branding > div {
    display: inline-block;
}

#omkLogo {
    width: 45px;
    margin: 5px 0 0 10px;
}

#omkHeaderText {
    padding-top: .5em;
    margin-left: .5em;
    vertical-align: top;
    font-size: 20px;
}

#bar {
    top: 56px;
}

#bar .map-controls {
    top: 126px;
}

#omkFormSelectorWrapper {
float:right;
}

#omkFormSelectorWrapper .dropdown-label {
    display: inline-block;
    font-size: 16px;
    margin: .8em .5em 0 0;
}

.omk-form-combobox {
    float: right;
    margin-right: 20px;
    margin-top: 7px;
    width: 230px;
    font-size: 12px;
}

.omk-form.combobox-input, .omk-form-combobox > .combobox-caret {
    height: 40px;
}
